
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar-logo {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #f01149, #ff8177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-toggle {
    display: none;
}

.center-title {
    text-align: center;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #f01149, #ff8177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal !important; /*Doesnt seem to work, relies on * class to not be bold (for some reason) */
    justify-content: flex-start;
}

.box {
    width: 700px;
    height: 400px;
    background: radial-gradient(black,grey);
    color: white;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal !important; /* Same as L68 */
    justify-content: flex-start;
    z-index: 0;
    top: 10%;
}

.box-primary {
    left: 10%;
}

.box-secondary {
    left: 50%;
}

.flex-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    flex-direction: column;
    position: absolute;
    left: 135px;
    padding: 10px;
}

.movie-poster {
    width: 150px;
    height: 215px;
    position: absolute;
    padding: 10px;
}

.movie-rating {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    flex-direction: row;
    position: absolute;
    left: 525px;
    padding: 10px;
}

.movie-description {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    flex-direction: row;
    position: absolute;
    left: 135px;
    top: 50px;
    padding: 10px;
}

.movie-data-primary-box {
    width: 70%;
    height: 700px;
    position: absolute;
    background-color: #f01149;
    left: 15%;
    top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal !important; /* Same as L68 */
}