<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/moviePageStyle.css') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon.png')}}">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <!-- Navbar Section -->
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" id="navbar-logo">Movieverse</a>
                <div class="navbar-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-links">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/search" class="navbar-links">Search </a>
                    </li>
                    <li clas="navbar-item">
                        <a href="Log-in" class="navbar-links"> Log In</a>
                    </li>
                    <li class="navbar-item">
                        <a href="Sign-up" class = "navbar-links">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Everything Else-->
        <div class="movie-data-primary-box">
            <h1 class = "movieTitle">{{movieOjbect.title}}</h1>
            <h2 class = "movieSummary">Description:{{movieOjbect.summary}}</h2>
            <h1 class = "movieRating">{{movieOjbect.rating}}</h1>
            <h1 class = "movieDate">Release Date: {{movieOjbect.releaseDate}}</h1>
            <h1 class = "movieLength">Length: {{movieOjbect.length}}</h1>
            <h1 class = "movieDirector">Director: {{movieOjbect.director}}</h1>
            <h1 class = "movieGenres">Genres: {{movieOjbect.genreString}}</h1>
            <img src = "{{movieObject.posterLink}}">
        </div>
    </body>
</html>
