<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signPageStyle.css') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon.png')}}">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <!-- Navbar Section -->
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" id="navbar-logo">Movieverse</a>
                <div class="navbar-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-links">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/search" class="navbar-links">Search</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/Sign-up" class = "navbar-links">Sign Up</a>
                    </li>
                    <li clas="navbar-item">
                        <a href="Log In" class="navbar-links">Log In</a>
                    </li>
                    <li class="navbar-item">
                        <a href="Sign Up" class = "navbar-links">Sign Up</a>
                </ul>
            </div>
        </nav>
        <!--Everything Else-->
        {%if sendType == 1 %}  <!-- Log In -->
        <div class = "reg-box">
            <h1>Log in</h1>
            <form>
                <label for = "uname">Username:</label>
                <input type = "text" id = "uname" name = "uname"><br>
                <label for = "password">Password:</label>
                <input type = "text" id = "password" name = "password">
                <input type = "submit" id = submit name = "submit">
            </form>
        </div>
        {%elif sendType == 2 %}  <!--Sign Up-->
        <div class = "reg-box">
            <h1>Create Your Account:</h1>
            <form action = "/Sign-up" method = "POST">
                <label for = "fname">First Name:</label><br>
                <input type = "text" id = "fname" name = "fname"><br>
                <label for = "lname">Last Name:</label><br>
                <input type = "text" id = "lname" name = "lname"><br>
                <label for = "uname">Username:</label><br>
                <input type = "text" id = "uname" name = "uname"><br>
                <label for = "gender">Gender:</label>
                <select id = "gender" name = "gender">
                    <option value = "M">Male</option>
                    <option value = "F">Female</option>
                    <option value = "O">Other</option>
                </select><br>
                <label for = "email">Email:</label><br>
                <input type = "text" id = "email" name = "email"><br>
                <label for = "password">Password:</label><br>
                <input type = "text" id = "password1" name = "password1"><br>
                <label for = "password">Reenter password:</label><br>
                <input type = "text" id = "password2" name = "password2"><br>
                <input type = "submit" id = submit name = "submit"  value = "Create Account">
            </form>
        </div>
        {%elif sendType == 3 %} <!--Password was invalid-->
        <div>
            {%if passwordError[0]%}
            <h1 color = "red">Password was too short.</h1>
            {%endif %}
            {%if passwordError[1] %}
            <h1 color = "red">Password did not contain a number 0-9</h1>
            {%endif%} 
            {%if passwordError[2]%}
            <h1 color = "red">Password did not contain a special character.</h1>
            {%endif %}
        </div>
        {% else %}
        <h1>Error :[</h1>
        {%endif%}
    </body>
</html>
