<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/searchPageStyle.css') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icon.png')}}">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <!-- Navbar Section -->
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" id="navbar-logo">Movieverse</a>
                <div class="navbar-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-links">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/search" class="navbar-links">Search </a>
                    </li>
                    <li clas="navbar-item">
                        <a href="Log-in" class="navbar-links"> Log In</a>
                    </li>
                    <li class="navbar-item">
                        <a href="Sign-up" class = "navbar-links">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Everything Else-->
         {% if type == 1 %}
        <div class = "movie-search-box">
            <form action = "/search" method = "POST">
                <label>Movie Name:</label><br>
                <input type = "text" label = "movieName" id = "movieName">
                <input type = "submit" id = submit name = "submit"  value = "Search">
            </form>
        </div>
        {% elif type == 2 %}
        <div class = "search-results">
            {% for movie in movieData %}
            <div class = "movieDataInstance">
                <h1>Title:{{movie.title}}</h1>
                <h2>{{movie.summary}}</h2>
                <h2>Rating: {{movie.rating}}</h2>
            </div>
        </div>
        {%endfor%}
        {% endif %}
    </body>
</html>